// Rust output files
/target/*

// Linux build output 
!/target/x86_64-unknown-linux-musl
/target/x86_64-unknown-linux-musl/*
!/target/x86_64-unknown-linux-musl/release
/target/x86_64-unknown-linux-musl/release/*
!/target/x86_64-unknown-linux-musl/release/lotus_near_client

// Rust dev files
**/*.rs.bk
Cargo.lock

// Lotus files
local.yaml

// Proto files
*.proto
!near.proto
